<%- include('partials/header') %>

<div>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button"
    >Submit a Secret</a
  >
</div>

<div class="jumbotron text-center">
  <div class="container">
    <% if (success) { %>
    <div id="success" class="alert alert-success mt-3"><%= success %></div>
    <% } %>

    <i class="fas fa-key fa-6x"></i>
    <hr />

    <form action="/table" method="GET">
      <div>
        <input
          type="text"
          name="search"
          id="searchInput"
          placeholder="Search..."
        />
        <select name="field" id="selectField">
          <option value="firstName">first Name</option>
          <option value="lastName">Last Name</option>
          <option value="mobile">Mobile</option>
        </select>
        <button type="submit">Search</button>
      </div>
      <% if (error) { %>
      <div id="error" class="alert alert-danger mt-3"><%= error %></div>
      <% } %>
    </form>
    <hr />
    <table class="table table-dark table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">index</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">mobile No</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(row, index) { %>
        <tr>
          <th><%= index + 1 %></th>
          <td><%= row.email %></td>
          <td><%= row.firstName %></td>
          <td><%= row.lastName %></td>
          <td>+91 <%= row.mobile %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      setTimeout(() => {
        const successMessage = document.getElementById("success");
        if (successMessage) {
          successMessage.style.display = "none";
        }
      }, 3000);
      setTimeout(() => {
        const successMessage = document.getElementById("error");
        if (successMessage) {
          successMessage.style.display = "none";
        }
      }, 5000);
    </script>
  </div>
</div>

<%- include('partials/footer') %>
